<template>
  <div class="posts">
    <h1>Edit User</h1>
      <div class="form">
        <div>
          <input type="text" name="name" placeholder="Name" v-model="name">
        </div>
        <div>
          <input type="email" name="email" placeholder="Email" v-model="email">
        </div>
       <div class="form-group">
                <label for="exampleInputState">State</label><br>
                <el-autocomplete class="inline-input" v-validate="'required|min:1'" :class="{'input': true, 'is-danger': errors.has('state') }" v-model="state" name="state" :fetch-suggestions="querySearch" placeholder="Please Input"  required></el-autocomplete>
                
              </div>
         <div class="form-group">
                <label for="exampleInputGender">Gender</label><br>
                <el-radio v-model="gender" v-validate="'required|in:1,2'" label="male" required>Male</el-radio>
                <el-radio v-model="gender"   label="female" required>Female</el-radio>
                <span class="help is-danger" v-show="errors.has('gender')">{{ errors.first('gender') }}</span>
              </div>
        <div>
          <button class="app_post_btn" @click="updateUser">Update</button>
        </div>
      </div>
  </div>
</template>

<script>
import UserService from '@/services/UserService'
export default {
  name: 'EditUser',
  data () {
    return {
      name: '',
      email: '',
      state: '',
      gender: ''
    }
  },
  mounted () {
    this.getUser()
    this.links = this.loadAll();
  },
  methods: {
    async getUser () {
      const response = await UserService.getUser({
        id: this.$route.params.id
      })
      this.name = response.data.name
      this.email = response.data.email
      this.state = response.data.state
      this.gender = response.data.gender
    },
    async updateUser () {
      await UserService.updateUser({
        id: this.$route.params.id,
        name: this.name,
        email: this.email,
        state: this.state,
        gender: this.gender
      })
      this.$router.push({ name: 'ListUser' })
    },
     querySearch(queryString, cb) {
        var links = this.links;
        var results = queryString ? links.filter(this.createFilter(queryString)) : links;
        // call callback function to return suggestions
        cb(results);
      },
      createFilter(queryString) {
        return (link) => {
          return (link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
        };
      },
      loadAll() {
        return [
          { "value": "Acre" },
          { "value": "Alagoas" },
          { "value": "Amapá"},
          { "value": "Amazonas"},
          { "value": "Bahia" },
          { "value": "Ceará"},
          { "value": "Distrito Federal" },
          { "value": "Goiás"},
          { "value": "Maranhão"},
          { "value": "Mato Grosso"},
          { "value": "Mato Grosso do Sul"},
          { "value": "Minas Gerais"},
          { "value": "Pará"},
          { "value": "Paraíba"},
          { "value": "Paraná"},
          { "value": "Pernambuco"},
          { "value": "Piauí"},
          { "value": "Rio de Janeiro"},
          { "value": "Rio Grande do Norte"},
          { "value": "Rio Grande do Sul"},
          { "value": "Rondônia"},
          { "value": "Roraima"},
          { "value": "Santa Catarina"},
          { "value": "São Paulo"},
          { "value": "Sergipe"},
          { "value": "Tocantins"}
         ];
      }
  }
 
}
</script>
<style type="text/css">
.form input, .form textarea {
  width: 500px;
  padding: 10px;
  border: 1px solid #e0dede;
  outline: none;
  font-size: 12px;
}
.form div {
  margin: 20px;
}
.app_post_btn {
  background: #4d7ef7;
  color: #fff;
  padding: 10px 80px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  width: 520px;
  border: none;
  cursor: pointer;
}
</style>