<template>
  <div class="hello">
    <img src="../assets/logo.png">
    <h1>{{ msg }}</h1>
    <h2>Essential Links</h2>
    <ul>
      <li><a href="https://vuematerial.io/" target="_blank">Vue Msterial</a></li>
      <li>
        <a href="http://vuejs-brasil.com.br" target="_blank">Vue.js Brasil</a>
      </li>
      <li>
        <a href="https://vuejs.org/" target="_blank">Vue,js</a>
      </li>
      <br>
      <li>
        <a href="http://vuejs-templates.github.io/webpack/" target="_blank">Docs for Webpack</a>
      </li>
      <li>
        <a href="https://github.com/doabit/vue-ssr-starter-kit" target="_blank">Starter kit</a>
      </li>
      <br>
    </ul>
  </div>
</template>
<script>
  export default {
    name: 'Home',
    data () {
      return {
        msg: 'Welcome to My Application'
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
