<template>
  <div id="app">
    <h2>{{msg}}</h2>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form method="post" @submit.prevent="loginUsers()">
            <div class="form-group">
              <label for="exampleInputEmail">E-mail</label>
              <input type="text" name="username"  class="form-control"   placeholder="Username" v-model="username" required>
              <i v-show="errors.has('email')" class="fa fa-warning"></i>
              <span style="color:red;" v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword">Password</label>
              <input type="password" class="form-control" v-validate="'required|min:6'" :class="{'input': true, 'is-danger': errors.has('password') }" name="password" placeholder="Password" v-model="password" required>
              <i v-show="errors.has('password')" class="fa fa-warning"></i>
              <span style="color:red;" v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
            </div>
            <br>
            <button  type="submit" class="btn btn-primary">Submit</button>
          </form>
          <br><br>
        </div>
      </div>
    </div>
</div>
</template>
<script>
import UserService from '@/services/UserService'
export default {
  name: 'Forms',
  data () {
    return {
      msg: 'Login',
      username: '',
      password: ''
    }
  },
  methods: {
    async loginUsers () {
        let self = this;
        await UserService.loginUser({
         username: this.username,
         password: this.password
      }).then((response) => {
        this.$router.push({ name: 'HomeUser' })
      }).catch((err) => {
        alert('Login error')
        console.log(err)
      })
    }
  }
}
</script>
