<template>
<div id="app">
  <h2>{{msg}}</h2>
  <br>
  <el-row>
    <el-col :span="12" :offset="6">         
      <form method="post" @submit.prevent="addPost()">
        <div class="form-group">            
          <label for="exampleInputName">Name</label>
          <input type="text" class="form-control" v-validate="'required|alpha|min:4'" :class="{'input': true, 'is-danger': errors.has('name') }"  placeholder="Name" name="name" v-model="name" required> 
          <i v-show="errors.has('name')" class="fa fa-warning"></i>
          <span style="color:red;" v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
        </div>             
        <div class="form-group">
          <label for="exampleInputEmail">E-mail</label>
          <input type="email" name="email"  class="form-control" v-validate="'required|email'" :class="{'input': true, 'is-danger': errors.has('email') }"  placeholder="Email" v-model="email" required>
          <i v-show="errors.has('email')" class="fa fa-warning"></i>
          <span style="color:red;" v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword">Password</label>
          <input type="password" class="form-control" v-validate="'required|min:6'" :class="{'input': true, 'is-danger': errors.has('password') }" name="password" placeholder="Password" v-model="password" required>
          <i v-show="errors.has('password')" class="fa fa-warning"></i>
          <span style="color:red;" v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
        </div>
        <div class="form-group">
          <label for="exampleInputState">State</label><br>
          <el-autocomplete class="inline-input"  :class="{'input': true, 'is-danger': errors.has('state') }" v-model="state"  :fetch-suggestions="querySearch" placeholder="Please Input" @select="handleSelect" required></el-autocomplete>
          <br>
          <i v-show="errors.has('state')" class="fa fa-warning"></i>
          <span style="color:red;" v-show="errors.has('state')" class="help is-danger">{{ errors.first('state') }}</span>
        </div>
        <br>
        <div class="form-group">
          <label for="exampleInputGender">Gender</label><br>
          <el-radio v-model="gender" v-validate="'required|in:1,2'" label="male" required>Male</el-radio>
          <el-radio v-model="gender" label="female" required>Female</el-radio>
          <span class="help is-danger" v-show="errors.has('gender')">{{ errors.first('gender') }}</span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br><br>
    </el-col>
  </el-row>
</div>
</template>
<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.3.4/lib/index.js"></script>
<script>
import UserService from '@/services/UserService'
export default {
  name: 'Forms',
  data () {
    return {
      msg: 'Register user',
      email: '',
      name: '',
      state: '',
      gender: '',
      itens: ['JavaScript', 'PHP', 'Java', 'C#', 'C', 'Python','Ruby'],
      password: '',
      error: '',
      valor: []
    }
  },
  methods: {
    async addPost () {
      if(this.name && this.email && this.gender && this.state && this.password && this.password.length > 5 && this.name.length > 3){       
        await UserService.addUser({
          name: this.name,
          email: this.email,
          password: this.password,
          state: this.state,
          gender: this.gender
        })
        this.$router.push({ name: 'Home' })
      }  
    } ,  
    checkValor () {
      console.log(this.valor)
    },
    querySearch (queryString, cb) {
      var links = this.links;
      var results = queryString ? links.filter(this.createFilter(queryString)) : links;
      // call callback function to return suggestions
      cb(results);
    },
    createFilter (queryString) {
      return (link) => {
        return (link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
      };
    },
    loadAll () {
      return [
        { "value": "Acre" },
        { "value": "Alagoas" },
        { "value": "Amapá"},
        { "value": "Amazonas"},
        { "value": "Bahia" },
        { "value": "Ceará"},
        { "value": "Distrito Federal" },
        { "value": "Goiás"},
        { "value": "Maranhão"},
        { "value": "Mato Grosso"},
        { "value": "Mato Grosso do Sul"},
        { "value": "Minas Gerais"},
        { "value": "Pará"},
        { "value": "Paraíba"},
        { "value": "Paraná"},
        { "value": "Pernambuco"},
        { "value": "Piauí"},
        { "value": "Rio de Janeiro"},
        { "value": "Rio Grande do Norte"},
        { "value": "Rio Grande do Sul"},
        { "value": "Rondônia"},
        { "value": "Roraima"},
        { "value": "Santa Catarina"},
        { "value": "São Paulo"},
        { "value": "Sergipe"},
        { "value": "Tocantins"}
       ];
    },
    handleSelect (item) {
      console.log(item)
    }
  },
  mounted () {
    this.links = this.loadAll();
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
   @import url("//unpkg.com/element-ui@2.3.3/lib/theme-chalk/index.css");
</style>
