<template>
<div id="app">
    Bem vindo
    <button @click="logout()">logout</button>
</div>
</template>
<script>
import UserService from '@/services/UserService'
export default{
    name: 'HomeUser',
    data (){
        return{      
        }
    },
    methods: {
        async logout(){
            await UserService.logouts().then((response) => {
            this.$router.push({ name: 'Home' });
            })  
        }
    }
}
</script>
