<template>
  <div>
      <h1>{{title}}</h1>
      <input type="text" name="sname" v-model="sname" placeholder="name" @input="filterUser(sname)">
    <br>
    <div v-if="users.length > 0" class="table-wrap">
      <table>
        <tr>
          <td>Name</td>
          <td>Email</td>
          <td>State</td>
          <td>Gender</td>
          <td width="100" align="center">Action</td>
        </tr>
        <tr v-for="(user, index) in users" :key="index">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.state }}</td>
          <td>{{ user.gender }}</td>
          <td align="center">
            <router-link v-bind:to="{ name: 'EditUser', params: { id: user._id } }">Edit</router-link> |
            <a href="/users" @click="deleteUser(user._id)">Delete</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>
<script>
import UserService from '@/services/UserService'
export default {
  name: 'ListUser',
  data () {
    return {
      sname: '',
      title: 'List users',
      users: []
    }
  },
  mounted () {
    this.getUser()
  },
  methods: {
    async getUser () {
      const response = await UserService.fetchUsers()
      this.users = response.data.users
    },
    async deleteUser (id) {
      await UserService.deleteUser(id)
      this.$router.push({ name: 'ListUser' })
    },
    filterUser (sname) {
      if (sname) {
        const response = UserService.filterUser(sname)
          .then(response => {
            this.users = response.data.users
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        this.getUser()
      }
    }
  }
}
</script>
<style>
.table-wrap {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
table th, table tr {
  text-align: left;
}
table thead {
  background: #f2f2f2;
}
table tr td {
  padding: 10px;
}
table tr:nth-child(odd) {
  background: #f2f2f2;
}
table tr:nth-child(1) {
  background: #4d7ef7;
  color: #fff;
}
a {
  color: #4d7ef7;
  text-decoration: none;
}
a.add_post_link {
  background: #4d7ef7;
  color: #fff;
  padding: 10px 80px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
</style>
