<template>
<div id="app">
  <el-container>
    <el-header id="header">
      <ul id="list">
        <li><router-link :to="'/'">Home</router-link></li>
        <li><router-link :to="'/forms'">Forms simples</router-link></li>
        <li><router-link :to="'/users'">List Users</router-link></li>
        <li><router-link :to="'/login'" exact>Login</router-link></li>
        <li><router-link :to="'/alura'" exact>Alura</router-link></li>
      </ul>
    </el-header>
  </el-container>
  <router-view/>
</div>
</template>
<script>
export default {
  name: 'App',
  data(){
   return{
   }
  }
}
</script>
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#tool{
  background-color:#F08080;
}
li{
  display: inline;
}

#list{
   display: inline;
   list-style: none; 
}

el-header{
  background-color: orange;
}

</style>
