<div class="col-md-5">
    <h1>Calculadora</h1> 
    <result-component :inline="inline"></result-component>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <numbers-component></numbers-component>
        </div>
        <div class="col-md-8">
            <commands-component></commands-component>
        </div>
    </div>
</div>