<div>
    <div class="col-md-6">
        <button v-for="oper in operators" class="btn btn-primary btn-lg btn-block" @click="addOperator(oper)">{{oper}}</button>
    </div>
    <br>
    <div class="col-md-6">
        <button v-for="com in commands" class="btn btn-primary btn-lg btn-block" @click="callCommand(com)">{{com}}</button>
    </div>
</div>