<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Vuex</h1>
                <app-result></app-result>
                <app-anotherResult></app-anotherResult>
                <hr>
                <app-counter></app-counter>
                <app-anotherCounter></app-anotherCounter>
                <hr>
                <input type="text">
            </div>
        </div>
    </div>
</template>

<script>
    import Counter from './components/Counter.vue';
    import anotherCounter from './components/anotherCounter.vue';
    import Result from './components/Result.vue';
    import anotherResult from './components/anotherResult.vue';
    export default {
     
        components: {
            appCounter: Counter,
            appAnotherCounter: anotherCounter,
            appResult: Result,
            appAnotherResult: anotherResult
        }
    }
</script>

